@import './Variables.sass'

.button
    width: 170px
    height: 60px
    left: 1245px
    right: 371px
    top: 49px
    bottom: 50px
    border: none
    outline: none
    border-radius: 19px
    color: $font
    background: $secondary
    cursor: pointer
    font-size: 25px
    font-weight: 500
    &-accept
        background: $primary
        color: $secondary
        
